<div id="aboutMe">
	<div id="aboutContent">
		<img src="img/me.jpg" alt="me" width="180" />
		<p>My name is Ben Sorensen and I'm a highly motivated Front End Developer with a great passion for UX and Web Design.<br><br>
		I'm always looking for new things to learn in order to stay on the cutting edge of front end and design technologies. Web is my passion, and exploring new techniques, developing compelling websites and applications, or anything that can help me to expand my knowledge is always welcome.<br><br>
		My skillset includes front end languages like JavaScript (jQuery, AngularJS), HTML5 and CSS3. I use Adobe Photoshop and Illustrator for designing layouts, optimizing images for the web, and building graphics such as logos, buttons, and icons.<br><br>
		I am also familiar with PHP and SQL and can make my way around the backend.<br><br>
		Look around this portfolio to learn more about me and see what I'm working on.</p>
		<a class="btn prev" href="#"><b><big><</big></b></a><a class="btn next" href="#/work"><b><big>></big></b></a>
	</div>
</div>