<div>
    <div id="contactMe">
		<div id="contactContent">
		<h2>Ben Sorensen</h2>
		<p>(801)631-6521</p>
			<ul>
				<li><a href="mailto:benjaminsor@gmail.com" target="_blank"><img src="img/email.png" alt="email" width="50" /></a></li>
				<li><a href="http://www.linkedin.com/profile/view?id=207711779" target="_blank"><img src="img/linkedin.png" alt="linkedin" width="50" /></a></li>
			</ul>
		</div>
	</div>
    <a class="btn prev" href="#/work"><b><big><</big></b></a><a class="btn next" href="#"><b><big>></big></b></a>
    
</div>