<div class="eventList">
	<div id="myWork">
		<div id="workContent">
			<ul id="recent">
				<h2 class="title">Here are a few projects I have been working on:</h2>
				<li>
					<a href="http://benjaminsorensen.net/strattonBratt/" target="blank"><img src="img/strattonBratt.jpg" alt="SB" width="50%" /></a>

					<p>Stratton & Bratt Landscapes LLC(in progress)</p><br>

					<div class="innerContent">
						<h2>My Role:</h2>
						<p>Designer, Developer</p><br>
						<h2>Technology Used:</h2>
						<p>HTML5, CSS3, JavaScript, Jquery</p>
					</div>
					
				</li>
				<li>
					<a href="http://benjaminsorensen.net/bratt/" target="blank"><img src="img/brattInc.jpg" alt="bratt" width="50%" /></a>

					<p>Bratt Inc.(not finished)</p><br>

					<div class="innerContent">
						<h2>My Role:</h2>
						<p>Designer, Developer</p><br>
						<h2>Technology Used:</h2>
						<p>HTML5, CSS3, Jquery</p>
					</div>
					
				</li>
				<li>
					<a href="http://benjaminsorensen.net/nsinnovative/" target="blank"><img src="img/nsInnovative.jpg" alt="NS" width="50%" /></a>

					<p>NS Innovative(in progress)</p><br>

					<div class="innerContent">
						<h2>My Role:</h2>
						<p>Designer, Developer</p><br>
						<h2>Technology Used:</h2>
						<p>HTML5, CSS3, JavaScript, Jquery</p>
					</div>
					
				</li>
				<li>
					<a href="http://benjaminsorensen.net/publicFinance2/home/#home.html" target="blank"><img src="img/PublicFinance.jpg" alt="pf" width="50%" /></a>

					<p>Zion's Bank Public Finance</p><br>

					<div class="innerContent">
						<h2>My Role:</h2>
						<p>Developer</p><br>
						<h2>Technology Used:</h2>
						<p>HTML5, CSS3, Jquery</p>
					</div>
					
				</li>
				<li>
					<a href="http://29thstreetstudio.com" target="blank"><img src="img/29thstreet.jpg" alt="29th" width="50%" /></a>
					<p>29th Street Studio</p><br>
					<div class="innerContent">
						<h2>My Role:</h2>
						<p>Designer, Developer</p><br>
						<h2>Technology Used:</h2>
						<p>HTML5, CSS3, Jquery, PHP, HTML5 Audio API</p>
					</div>
					
				</li>
				<li>
					<a href="http://benjaminsorensen.net/encompass/" target="blank"><img src="img/encompass.jpg" alt="encompass" width="50%" /></a>
					<p>Encompass Business Solutions</p><br>
					<div class="innerContent">
						<h2>My Role:</h2>
						<p>Designer, Developer</p><br>
						<h2>Technology Used:</h2>
						<p>Wordpress, PHP, HTML, CSS</p>
					</div>
					
				</li>
			</ul>
		</div>
		<a class="btn prev" href="#/about"><b><big><</big></b></a><a class="btn next" href="#/contact"><b><big>></big></b></a>
	</div>
    
</div>
    